-# in app/views/movies/dsearch.html.haml

%h1 List of movies directed by: #{@movie.director}


%table#movies.dsearch
  %thead
    %tr
      %th Movie Tite
      %th Rating
      %th Release Date
      %th Director
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= movie.director
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Back to movie list', movies_path